.nav{
	padding-right: 10px;
	margin-right: 92%;
	padding-bottom: 5px;
	text-align: right;
	border-style: solid;
	border-right-width: 1px;
	border-right-color: lightgrey;
	margin-top: 20px;
}

.date{
	float: left;
	margin-left: 5.5%;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin-top: -4.5%;
}

.section{
	float: left;
	margin-left: 5.5%;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 20px;
	margin-top: -4.5%;
}

nav ul li{
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

a:visited, a:link{
	color: black;
	text-decoration: none;
}

a:hover{
	color: red;
	text-decoration: none;
}

.logo{
	display: block;
	border-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: black;
	max-width: 500px;
	margin: 0 auto;
	padding-right: 25%;
	padding-left: 25%;
}

.l, .limg, section.lfood{
	margin-left: 13%;
	margin-right: 50%;
}

section.l2{
	float: left;
	margin-left: 2%;
	margin-top: 35%;
	margin-right: 10%;
	padding-bottom: 50px;
}

.limg{
	max-height: 300px;
}

.limgfood{
	max-height: 300px;
}

section.foodr{
	float: right;
	border-style: solid;
	border-left-width: 1px;
	padding-left: 15px;
	border-left-color: lightgrey;
	margin: -36.15% 10% 20px 51%;
	padding-top: 11px;
	padding-bottom: 11px;

}

h2.l{
	margin-top: -35%;
	margin-bottom: 10px;
	font-family: 'Arvo', serif;
	font-size: 25px;
	line-height: 30px;
}

h2.lfood{
	margin-top: -90%;
}

h2.lfood, h2.foodr1{
	margin-bottom: 10px;
	font-family: 'Arvo', serif;
	font-size: 25px;
	line-height: 30px;
}

p.l{
	font-family: 'Playfair Display', serif;
	line-height: 20px;
	font-size: 14px;
	padding-top: 5px;
}

p.article2{
	font-family: 'Playfair Display', serif;
	line-height: 20px;
	font-size: 14px;
	padding-top: 5px;
	color: grey;
}

p.credit{
	font-family: 'Playfair Display', serif;
	line-height: 20px;
	font-size: 12px;
	color: darkgrey;
}

p.recipe, p.reciperight{
	color: grey;
	font-family: 'Playfair Display', serif;
	line-height: 20px;
	font-size: 14px;
	padding-top: 5px;
}

p.lfood, p.foodr1{
	font-family: 'Playfair Display', serif;
	line-height: 20px;
	font-size: 14px;
	padding-top: 5px;
}

.foodr1{
	padding-left: 20px;
}

h2.right, h2.right2{
	font-family: 'Arvo', serif;
	font-size: 22px;
	line-height: 30px;
	padding-bottom: 10px;
}

.right{
	padding-left: 15px;
	max-height: 200px;
	margin-right: 10%;
	padding-bottom: 10px;
}
.right2{
	padding-left: 30px;
	max-height: 200px;
	margin-right: 10%;
	padding-top: 15%;
}

img.right, img.pic2{
	max-height: 150px;
}

img.foodr1{
	max-height: 300px;
}

img.pic2{
	padding-left: 30px;
}

p.right{
	font-family: 'Playfair Display', serif;
	line-height: 20px;
	font-size: 14px;
	padding-left: 21%;
	margin-top: -30%;
	margin-left: 30%;
}

h3.right, h3.right2, h3.l, h3.lfood, h3.foodr1{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 12px;
	padding-top: 20px;
}

h3.foodr1{
	padding-bottom: 10px;
}

h3.right2{
	margin-bottom: -70px;
}

h3.lfood{
	float: left;
	margin-top: -45px;
}

section.r{
	border-style: solid;
	border-left-width: 1px;
	border-left-color: lightgrey;
	margin-left: 53%;
	margin-top: -40.5%;
	margin-right: 5%;
	padding-bottom: 50px;
}

h3.right2{
	margin-top: 15%;
}

p.right2{
	font-family: 'Playfair Display', serif;
	line-height: 20px;
	font-size: 14px;
	padding-left: 21%;
	margin-top: -42%;
	margin-left: 30%;
	padding-bottom: 30px;
	margin-bottom: 100px;
}

section.r1{
	border-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: lightgrey;
	padding-bottom: 10%;
	margin-left: 15px;
	margin-bottom: -80px;
}

.article, section.recipes{
	margin: 0 17% 20px;
}

img.article{
	width: 650px;
	margin: 10px 24.5% 15px;
	border-bottom-width: 1px;
	border-style: solid;
	padding-bottom: 30px;
	border-color: lightgrey;
}

section.article2{
	max-width: 550px;
	margin: 0px 17% 15px 17%;
	border-bottom-width: 1px;
	border-style: solid;
	padding-bottom: 7px;
	padding-right: 0px;
	border-color: lightgrey;
}

img.article2{
	max-width: 550px;
}

h1.article, h2.article{
	font-family: 'Arvo', sans-serif;
	margin-bottom: 5px;
}

p.article{
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	line-height: 25px;
}

p.recipes{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	padding-top: 15px;
}

h1.article{
	font-size: 45px;
	line-height: 60px;
	margin-top: -52%;
}

h2.article{
	line-height: 30px;
	font-size: 18px;
}

h3.article, h4.article{
	font-family: 'Roboto', sans-serif;
}
h3.article{
	font-size: 16px;
	font-weight: 900;
}

h4.article{
	font-size: 14px;
}

a.art{
	font-weight: 700;
}

section.reciperight{
	float: right;
	margin-right: -22%;
	max-width: 300px;
	border-style: solid;
	border-left-width: 1px;
	border-color: lightgrey;
	padding-left: 10px;
}

section.recipe{
	float: left;
	margin-left: -22%;
	border-style: solid;
	border-right-width: 1px;
	border-color: lightgrey;
	padding-right: 10px;
	max-width: 300px;
	text-align: right;
}

section.recipes{
	border-style: solid;
	border-top-width: 1px;
	border-color: lightgrey;
	padding-top: 10px;
}

img.recipe, img.reciperight{
	max-width: 300px;
}